<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .nounderline {
        text-decoration: none !important;
      }
    </style>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Fav Movies</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1>Movies</h1>
      <p>Select Your Favorite Movie</p>
    </div>

    <div class="container"></div>
  </body>
  <script>
    let movies = [];
    <% movies.forEach(function(movie) { %>
        movies.push({title:"<%= movie.Title %>" , poster: "<%= movie.Poster %>", genre:"<%= movie.data.Genre %>", id:"<%= movie.imdbID %>"})
      <% }); %>
    let rows = Math.ceil(movies.length / 3);
    for (let i = 0; i < rows; i++) {
      var row = document.createElement("div");
      row.className = "row";
      for (let j = 0; j < 3; j++) {
        if (movies.length > 0) {
          let movie = movies.shift();
          var a = document.createElement("a");
          a.setAttribute("href", "./" + movie.id);
          a.className = "nounderline";
          var col = document.createElement("div");
          col.className = "col-sm-4";
          var h3 = document.createElement("h4");
          h3.setAttribute("style", "height:100px");
          var titleText = document.createTextNode(movie.title);
          h3.appendChild(titleText);
          a.appendChild(h3);
          var img = document.createElement("img");
          img.setAttribute("src", movie.poster);
          if (movie.poster == "N/A") {
            img.setAttribute(
              "src",
              "https://logosvector.net/wp-content/themes/iLoveLogos/img/not-available.jpg"
            );
          }
          img.setAttribute("alt", movie.title);
          img.setAttribute("width", 200);
          a.appendChild(img);
          var genre = document.createElement("p");
          var genreText = document.createTextNode(movie.genre);
          genre.appendChild(genreText);
          a.appendChild(genre);
          col.appendChild(a);
          row.appendChild(col);
        }
      }
      document.getElementsByClassName("container")[0].appendChild(row);
    }
  </script>
</html>
