<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= movie.Title %></title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:url" content="./." />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="My favourite movie is <%- movie.Title %>"
    />
    <meta property="og:description" content="<%- movie.data.Plot %>" />
    <meta property="og:image" content=" <%- movie.Poster %>" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="My favourite movie is <%- movie.Title %>">
    <meta name="twitter:description" content="<%- movie.data.Plot %>">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style type="text/css">
      .tweet-button {
        display: inline-block;
        width: 55px;
        height: 21px;
        background-image: url(http://platform.twitter.com/widgets/images/tweet.dfbf1dd98bad9f5b5addd80494650dca.png);
        background-position: 0 0;
      }
      .tweet-button:hover {
        background-position: 0 -21px;
      }
    </style>
  </head>
  <body>
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src =
          "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
        fjs.parentNode.insertBefore(js, fjs);
      })(document, "script", "facebook-jssdk");
    </script>
    <script>window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
              t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
          
            t._e = [];
            t.ready = function(f) {
              t._e.push(f);
            };
          
            return t;
          }(document, "script", "twitter-wjs"));</script>
    <div class="jumbotron text-center">
      <h1>
        <%= movie.Title %>
      </h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <img src="<%= movie.Poster%>" alt="" />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-12 text-center">
          <h4>
            Release Date : <%- movie.data.Released %>
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <h4 id="rate">
            AVG Rating :
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-center">
          <div
            class="fb-share-button"
            data-href="./."
            data-layout="button"
            size="large"
          ></div>
        </div>
        <div class="col-md-6 text-center">
          <div id="tweet"></div>
        </div> 
      </div>
    </div>

    <script>
        twttr.ready(()=>{
            twttr.widgets.createShareButton(
  '/',
  document.getElementById('tweet'),
  {
    text: 'My favorite Movie is ' + "<%= movie.Title %>" + "Check Out From here : " + document.location.href
  }
).then( function( el ) {
  console.log('Tweet button added.');
});
        })

      var movieJSON = <%- JSON.stringify(movie) %>;
      let getAVGRating = rating =>{
          let ratingText = "";
          if(rating.length == 0){
              ratingText = "Not Avaiable";
          }
          else{
              let ratings = 0
            for (let i = 0; i < rating.length; i++) {
                const rate = rating[i];
                ratings += getUnifiedScore(rate)
            }
            let AVGRating = ratings / rating.length
            ratingText = AVGRating;

          }
          return ratingText
      }
      getUnifiedScore = rating =>{
        if (rating.Value.indexOf("/") > -1) {
            return parseFloat(rating.Value.split("/")[0])
        }else{
            return parseFloat(rating.Value.split("%")[0])/10
        }
      }
      document.getElementById("rate").append(getAVGRating(movieJSON.data.Ratings))
    //   document.getElementsByClassName("tweet-button")[0].setAttribute("href","https://twitter.com/intent/tweet?text=here's+my+favorite+movie+" + "./.")
    </script>
  </body>
</html>
